{% extends "layout.html" %}

{% block nav_bar %}

{% include 'nav_bar_menusee.html' with {'categories': categories} %}

{% endblock %}

{% block content %}

<main  class="about" style="background-image: url('https://images.academics.com/zahnarzt-gehalt.jpg?auto=format&fit=crop&h=768&w=1365&crop=focalpoint&fp-x=0.63&fp-y=0.47'); background-size: cover; background-position: center;">
    
    <h2>About</h2>
    

    <div class="story">
       
        <h3>Once upon a time...</h3>
        <p>Nestled in the heart of Sliema, just a stone’s throw from the bustling promenade, stands a 
            sanctuary of smiles: "Dental Studio". Born from the shared passion of a of IT
            student Pavel, this elegant English haven marries their love for coding with the
            dentist. From perfecting radiant smiles to ensuring optimal oral health, their journey 
            from textbooks to titanium implants is a testament to dedication, expertise, and the art of dentistry. At Pearl Dental Studio, 
            every patient is treated like family, and every smile tells a story of confidence, care, and craftsmanship.</p>

    </div>

    <div class="openhrs">

        <h3>Opening Hours</h3>
        <p>Monday to friday</p>
        <p>from 7:00 to 18:00</p>
        <p>last orders at 18:45</p>

    </div>

</main>


<div class="info" style="color: black; background-position: center; display: flex;flex-direction: column;align-items: center;position: relative; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.4); z-index: 0; " >
    <p style="color: white;">Location</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.633491959988!2d14.471999555826185!3d35.906991063114916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e45b994589409%3A0x6e30f089cb71fc69!2sPearl%20Dental%20Clinic!5e0!3m2!1sen!2smt!4v1740002996957!5m2!1sen!2smt" 
    allow="fullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    

    <p style="color: white;">Reserve your table now at:</p>
    <address style="color: white;">
        Dental Studio,
        Sliema,
        Malta
    </address>

    <button id="phoneButton" onclick="openDiallerClient();">phone: +356 23360000</button><br>
    <button id="mailButton" onclick="openEmailClient();">e-mail: dentiststudio@gmail.com</button><br>

</div>

{% endblock %}